// BASE

.card {
  box-shadow: $shadow $shadow $shadowoff $shadowcolor;
}

.card img {
  border-radius:2px;
}

.bottomsep {
  border-bottom:1px solid $bordercolor;
  padding-bottom:0.5em;
  margin:0.5em 0;
}

// LECTURES

.lectures {
  list-style:none;
  padding:0;
  margin-top:0.5em;
  margin-bottom:-0.5em;  // to offset overshoot due to lectures bttom margin
}

.lectures li {
  background-color:$navbg;
  display:inline-block;
  padding:1em;
  margin-top:0;  // initally has some that we don't want to have even top-bottom spacing for border
}

.lectures li a {
  color:$navtxt;
}
