.card {
	background-color:#FFF;
}

.card a {
	text-decoration:none;
	color:black;
}

.card img {
	margin:auto;
	text-align:center;
	display:block;
	margin-bottom:1em;
}

.card h2 {
	margin-top:0;
}


.lectures {
	list-style:none;
	padding:0;
	margin-top:1em;
}

.lectures li {
	display:inline-block;
	background-color:black;
	padding:1em;
}

.lectures li a {
	color:white;
}
