// VARIABLES

$break: 40em;

// // Borders

$bordercolor:#CCCCCC;
$shadowcolor: #CCCCCC;
$shadowoff: 10px;
$shadow: 1px;

// // Headings

$heading_a_color:#000000;

// BASE

html * {
  font-family:'Karla', sans-serif;
}

.container {
  max-width:70em;
  margin:auto;
}

// // Links

a {
  text-decoration:none;
}

// // Borders

.border {
  border-color:$bordercolor;
}

.sidebar {
  border-left: 1px solid $bordercolor;
}

@media(max-width:$break) {
  .sidebar {
    border-left:0;
	margin-top:2em;
  }
}

// // Headings

@for $i from 1 through 6 {
  a>h#{$i} , a>.h#{$i} {
    color:$heading_a_color;
  }
}


// // Images

.figure img {
  width:100%;
}

.subfigures p img {
  float:left;
}

// // Kps

.keypoints {
  padding:2em;
  border:1px solid $bordercolor;
  border-radius:2px;
  box-shadow: $shadow $shadow $shadowoff $shadowcolor;
  margin-top:3em;
}

.keypoints h2 {
  margin-top:0;
}

