// VARIABLES

$break: 40em;

// // Borders

$bordercolor:#CCCCCC;
$shadowcolor: #CCCCCC;
$shadowoff: 10px;
$shadow: 1px;

// // Headings

$heading_a_color:#000000;

// // Navbar 

$navbg: #000000;
$navtxt: #FFFFFF;

// BASE

html * {
  font-family:'Karla', sans-serif;
}

.container {
  max-width:70em;
  margin:auto;
}

// // Links

a {
  text-decoration:none;
}

// // Borders

.border {
  border-color:$bordercolor;
}

.sidebar {
  border-left: 1px solid $bordercolor;
}

@media(max-width:$break) {
  .sidebar {
    border-left:0;
	margin-top:2em;
  }
}

// // Headings

@for $i from 1 through 6 {
  a>h#{$i} , a>.h#{$i} {
    color:$heading_a_color;
  }
}


// // Images

.figure img {
  width:100%;
}

.figure p, .subfigures p {
  display:inline-block;
  font-size:0.9em;
  font-weight:bold;
}

.subfigures p img {
  float:left;
}

// // Kps

.keypoints, .questions {
  padding:2em;
  border:1px solid $bordercolor;
  border-radius:2px;
  box-shadow: $shadow $shadow $shadowoff $shadowcolor;
  margin-top:3em;
}

.keypoints h2, .questions h2 {
  margin-top:0;
}

// // Tables

table {
  margin:auto;
  border-collapse:collapse;
}

td {
  padding:0.5em;
}

th {
  border-bottom:1px solid $bordercolor;
  padding:0.5em;
}

tr:nth-child(even) {
  background-color:lighten($navbg, 90);
}
