.pagehead {
  overflow:visible;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 59%, rgba(255, 255, 255, 0.65) 100%), url('/images/header-img.jpg') no-repeat center;
  background-size:cover;
  background-color:white;
  text-align:center;
  padding:4em 0;
  margin:-1em -1em 1em -1em;
  color:black;
}

.pagehead h1 {
  padding-bottom:1em;
}

.search {
  height:3em;
  overflow:visible;
}

.search form input {
  width:90%;
  padding:1em;
  border-radius:2px;
  border:1px solid $bordercolor;
  box-shadow: $shadow $shadow $shadowoff $shadowcolor;
}

.search-output {
  overflow:visible;
  margin:auto;
  width:90%;
  background-color:white;
  border-radius:2px;
  position:relative;
  z-index:9999;
}

.search-output li {
  background-color:white;
  box-shadow: $shadow $shadow $shadowoff $shadowcolor;
  border:1px solid $bordercolor;
  border-top:0;
  padding:0.5em;
  text-align:left;
}

.search-title {
  font-weight:bold;
}

