@charset "utf-8";
@import "global";
@import "navbar";
@import "cards";
@import "header";
@import "buttons";
@import "glossary";

html body {
  margin:0;
  padding:0;
}

// Better lists

ul.nicelist {
  list-style:none;
  padding-left:0;
}

.nicelist li {
  padding-bottom:4px;
}

.nicelist li:before {
  content: "+";
  margin-right:4px;
  font-weight:bold;
}

