@charset "utf-8";
@import "header";
@import "cards";
@import "search";

$bgcolor: #EEEEEE;

html * {
	font-family:Roboto;
}

body {
	padding:0;
	margin:0;
	background-color:$bgcolor;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:"Inconsolata";
}

code {
	font-family:"Inconsolata";
}

pre {
	background-color:#EEE;
	padding:1em;
	border-radius:2px;
	margin:1em 0;
	width:100%;
}

.content {
	max-width:70em;
	margin:auto;
}

.figure img {
	width:100%;
}

.subfigures p {
	display:inline-block;
	font-family:Inconsolata;
	font-weight:bold;
	padding-bottom:1em;
}

.subfigures p img {
	float:left;
	width:100%;
}

.caption {
	font-family:Inconsolata;
	font-weight:bold;
	padding:1em 0;
}

.lecture {
	font-weight:bold;
	color:black;
	padding:1em 2.1em;  // .1 to overhang border
	margin:1em -1.1em;
	background-color:$bgcolor;
	border-top:1px solid black;
	border-bottom:1px solid black;
	text-align: right;
}

.previous-next-buttons {
	padding:1em 0;
}

.previous-next-buttons a {
	font-size:1.5em;
}

.previous {
	float:left;
}

.next {
	float:right;
}

.next, .previous {
	background-color:black;
	padding:1em;
	border-radius:2px;
}

.next a, .previous a {
	color:white;
	text-decoration:none;
}
	

.section-list li a {
	text-decoration:none;
	color:white;
}

.section-list li {
	padding:0.5em;
	background-color:black;
	border-radius:2px;
	margin-bottom:0.5em;
}

// Table Styles

table {
	width:100%;
	border:none;
	border-collapse:collapse;
}

table td, table th {
	padding:1em;
}

table caption {
	padding:2em 0;
}

.keypoints {
    background-color:$bgcolor;
    padding:0.5em 1em;
	border:1px solid black;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 1px;
    line-style:  dashed;
} 

tr.header, .even {
	background-color:#EEEEEE;
}

// Glossary

.glossary-key {
    font-weight:bold;
	font-family:Inconsolata;
    background-color:#EEEEEE;
}

.glossary-desc {
	margin-bottom:1em;
}

// Content page

.actual-content {
	background-color:#FFFFFF;
	border:1px solid black;
}

.actual-content, .sidebar {
	margin-bottom:1em;
}
