---
title: Frequently asked questions
---

=partial "header"

.p2.maincontent.container

  - get_tags().each do |t|
    - if (tagname == t)
      %a.mytag.active{ href: "#{CGI::escape(t)}.html" , title: t }
        =t
    - else
      %a.mytag{ href: "#{CGI::escape(t)}.html" , title: t }
        =t
  %h1
    FAQ (#{tagname})

  %p
  - data.faq.each do |info|
    - if info.tags.include?(tagname)
      %h2= info.question
      %p=info.answer
      %p
