.pagehead
  .info
    %h1= web_title

  .search
    %form{:onsubmit => "return false;"}
      %input.search-input#search-input{:placeholder => "Search all of the course content...", :autocomplete => "off"}
    %ul.list-reset.search-output#search-output
