.container.nav-top.flex.flex-column
  %div.nav-mob.flex.flex-justify.flex-center
    .p1.head.border-box.left
      .p1.h3
        Navigation
    .hamburger.border-box.right.p1
      .p1.border.rounded.right
        ☰

  %ul.nav-info
    - [["index.html", "Home"],
       ["sections.html", "Notes"],
       ["alllectures.html", "Lectures"],
       ["interactive.html", "Interactive"],
       ["glossary.html", "Glossary"],
       ["faq.html", "FAQ"],
       ].each do |sec|
      =nav_link(sec[1], sec[0])

