.container
  %ul
    - [["index.html", "Home"],
       ["sections.html", "Notes"],
       ["alllectures.html", "Lectures"],
       ["interactive.html", "Interactive"],
       ["glossary.html", "Glossary"],].each do |sec|
      =nav_link(sec[1], sec[0])

