---
title: All Lectures
---

=partial "header"

.p2
  %h1 All Lectures
  .flex.flex-wrap.mxn2
    - data.lectures.each do |info|
      .sm-col-6.lg-col-4.border-box.p2
        .p2.border.rounded.card
          - if info.image
            =image_tag info.image, :class => 'fit'
          = link_to "<h2 class='mb0'>Lecture #{info.name}</h2>", "lectures/Lecture_#{CGI::escape(info.name.tr(":", ""))}.html"
