---
title: Home
---

=partial "header"

.flex-auto.sm-flex.maincontent.container
  .flex-auto.p2.sm-col-9
    %h2 About the Course

    %p
      This course is an introduction to nuclear and particle physics. It will be articulated in three parts:
      %ul.nicelist
        %li
          %strong Nuclear Physics:
          This part will be devoted to the understanding of the nuclei of atoms, how to model their mass and properties.
        %li
          %strong Scattering:
          We will start from the Rutherford experiment and see how experiments of increasingly high energies allow to get insights into the structure of matter.  
        %li
          %strong Particle physics: 

   

  .flex-auto.p2.sm-col-3.sidebar
    %h2 Lectures

    %p
      Lecture in the Michealmas term are on
      %ul.nicelist
        %li Tuesdays 13:00-14:00 CLC 202
        %li Thursdays 9:00-10:00 CLC 202
        %li Fridays 9:00-10:00 CG 93
    %p
      Lecture in the Epiphany term are on
      %ul.nicelist
        %li Tuesdays 13:00-14:00 CLC 202
        %li Thursdays 9:00-10:00 CLC 202


