---
title: Home
---

=partial "header"

.flex-auto.sm-flex.maincontent
  .flex-auto.p2.sm-col-9
    %h2 About the Course

    %p
      This course is an introduction to nuclear and particle physics. It will be articulated in three parts:
      %ul.nicelist
        %li
          %strong Nuclear Physics:
          This part will be devoted to the understanding of the nuclei of atoms, how to model their mass and properties.
        %li
          %strong Scattering:
          We will start from the Rutherford experiment and see how experiments of increasingly high energies allow to get insights into the structure of matter.  
        %li
          %strong Particle physics: 

   

  .flex-auto.p2.sm-col-3.sidebar
    %h2 Lectures

    %p
      Lectures are all in CLC202

    %p
      Lecture in the Michealmas term are on
      %ul.nicelist
        %li Mondays 17:00-18:00
        %li Thursdays 12:00-13:00
        %li Fridays 17:00-18:00

