---
title: Search
---

.p2
  %h1 Search

  %p This is a full-text search of the material, powered by lunr.js.

  %form
    %input.block.col-12.mb1.field#search-input{"type" => "text"}

  #search-results

  =partial "jquery_cdn.html"
  =partial "lunr_cdn.html" 
  =javascript_include_tag "search.js"
